/* Fonts */
.roboto-light {
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   font-style: normal;
 }
 
 .roboto-regular {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-style: normal;
 }
 
 .roboto-medium {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-style: normal;
 }
 
 .roboto-bold {
   font-family: "Roboto", sans-serif;
   font-weight: 700;
   font-style: normal;
 }
 
 .roboto-black {
   font-family: "Roboto", sans-serif;
   font-weight: 900;
   font-style: normal;
 }
 
 .roboto-light-italic {
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   font-style: italic;
 }
 
 .roboto-regular-italic {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-style: italic;
 }
 
 .roboto-medium-italic {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-style: italic;
 }
 
 .roboto-bold-italic {
   font-family: "Roboto", sans-serif;
   font-weight: 700;
   font-style: italic;
 }
 
 .roboto-black-italic {
   font-family: "Roboto", sans-serif;
   font-weight: 900;
   font-style: italic;
 }
 
/* Styles */
* {
   box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  background-color: #f4f4f4;
}

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #fff;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   z-index: 1000;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 20px;
}

nav>a {
  font-size: 1.8em;
  font-weight: 300;
}

nav a {
   text-decoration: none;
   color: #000;
}

nav ul {
   display: flex;
   align-items: center;
   list-style: none;
}

nav ul li {
   margin: 0 20px;
}

section {
  height: 100vh;
   padding: 100px 0;
}

#home {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column; 
   background-color: cornflowerblue;
   text-align: center;
}

#home h1 {
   font-size: 3em;
   font-weight: 300;
   color: #fff;
}

#home p {
  width: 40%;
  font-size: 1.5em;
  font-weight: 300;
  color: #fff;
}

#home a {
   padding: 10px 20px;
   margin-top: 20px;
   font-size: 1.5em;
   font-weight: 300;
   color: #fff;
   background-color: #000;
   border: none;
   border-radius: 5px;
   text-decoration: none;
}

#aboutme {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #fff;
}